.stMainBlockContainer {
    padding: 0rem;
    max-width: unset !important;
}
.stSidebar {
    min-width: 415px;
    max-width:1000px;
}

.stSidebar .st-key-node_sidepanel *,
.stSidebar .st-key-node_sidepanel {
    gap: 0rem !important;
    min-height: 0rem;
}

.stSidebar .st-key-masthead {
    gap: 0.25rem !important;
}

[data-testid="stLogoSpacer"] {
    height: 1rem;
}

[data-testid="stSidebarHeader"] {
    padding: 0rem;
}

[data-testid="stSidebarNav"] * {
    line-height: 1.5;
}

[data-testid="stSidebarNav"] li {
    padding: 0rem;
    font-size: 0.8rem;
    line-height: 1.5;
}

[data-testid="stSidebarUserContent"] {
    padding: 0rem 0.75rem 6rem;
}

.stExpander summary {
    padding: 0.5rem;
}

[data-testid="stExpanderDetails"]  {
    padding: 0.5rem;
}

/* New overriding rule */
.st-key-node_description .stMarkdown *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
.st-key-node_output .stMarkdown *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
.st-key-node_requirements .stMarkdown *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
.st-key-node_algorithm .stMarkdown *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
.st-key-node_code .stMarkdown *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
.st-key-node_code .stCode *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: 12px !important;
}

header {
    background: rgb(247, 249, 253) !important;
}

.st-key-command_sidebar .stColumn {
    width: fit-content !important;
    flex: unset !important;
}

.st-key-abstraction_level * {
    font-size: 12px !important;
    font-family: "Source Sans Pro", sans-serif;    
}

.stMain {
    padding-top: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-width: auto;
    max-width: initial;
}

/* Hide the "Hide" button in the sidebar */
[data-testid="stSidebarContent"] [data-testid="stBaseButton-headerNoPadding"] {
    display: none;
}

/* When .st-key-chat_container is a grandchild */
div[data-testid="stVerticalBlockBorderWrapper"]:has(> div > .st-key-chat_container) {
    background-color: white;
}

.st-key-button_bar .stColumn {
    width: fit-content !important;
    flex: unset !important;
}

/* Edit Dialog */

[aria-label="dialog"]:has(.st-key-edit_dialog) {
    width: 90% !important;
}

.st-key-current_label textarea,
.st-key-current_requirements textarea,
.st-key-current_algorithm textarea,
.st-key-current_code textarea,
.st-key-generated_label .stMarkdown *,
.st-key-generated_requirements .stMarkdown *,
.st-key-generated_algorithm .stMarkdown *,
.st-key-generated_code .stCode *,
.st-key-generated_code .stMarkdown *
{
    font-size: 12px !important;
}

.st-key-current_label textarea,
.st-key-current_requirements textarea,
.st-key-current_algorithm textarea,
.st-key-current_code textarea {
    min-height: 40px;
}

.st-key-generated_code *,
.st-key-current_code textarea {
    font-family: "Source Code Pro", monospace;
}

.st-key-current_dialog {
    gap: 0rem !important;
}

.st-key-edit_node_commands {
    padding-bottom: 1rem;
}

.st-key-edit_node_commands .stColumn {
    width: fit-content !important;
    flex: unset !important;
}

.st-key-controls .stColumn {
    width: fit-content !important;
    flex: unset !important;
}

.st-key-controls * {
    font-size: 12px !important;
}

.st-key-page_controls .stColumn {
    width: fit-content !important;
    flex: unset !important;
}

.st-key-bottom_bar .stColumn {
    width: fit-content !important;
    flex: unset !important;
}

.st-key-description_dialog .stColumn {
    width: fit-content !important;
    flex: unset !important;
}


/* Chat */

.stChatMessage {
    padding: 0.25rem;
}
.stChatMessage .stMarkdown * {
    font-size: 0.85rem !important;
}

.stChatMessage .stMarkdown code,
.stChatMessage .stMarkdown code * {
    font-size: 12px !important;
}

.st-key-voice_input {
    margin-top: -3.6rem;
    margin-left: 0.1rem;
    width: 48px;

}

.st-key-ama_input {
    width: calc(200% - 48px);
    min-width: 400px;
} 

.st-key-voice_input * {
    height: 2.5rem !important;
    background-color: unset !important;
}

.st-key-voice_input [data-testid="stAudioInputWaveformTimeCode"],
.st-key-voice_input [data-testid="stAudioInputWaveSurfer"] {
    display: none;
}

.st-key-voice_input div > div > div:not(:nth-child(2)) {
    display: none;
}

.st-key-voice_input > div > div > div > span:nth-child(2) {
    display: none;
}

/* 
.st-key-ama_columns .stColumn {
    width: fit-content !important; 
    flex: unset !important;
} */
/*
.st-key-ama_input > div > div:first-child {
    width: 48px;
    flex: unset !important;
}

.st-key-ama_input > div > div:nth-child(2) {
    width: calc(200% - 48px);
    flex: unset !important;
} */
